:root {
    font-family: 'haas-grotesk-text', sans-serif;
    --background-color: #1F1E2E;
    --text-color: #D8D8F4;
  
    --card-background-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-icon-color: #B3ACFF;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: 0.1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #5B45FF 25deg, rgba(91, 69, 255, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #373660;
    --card-tile-color: rgba(91, 69, 255, 0.05);
  
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: #7C5DFF;
    --card-hover-icon-background-color: rgba(91, 69, 255, 0.1);
    --card-hover-icon-border-color: rgba(91, 69, 255, 0.2);
  
    --blur-opacity: 0.01;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-gap: 32px;
    position: relative;
    z-index: 1;
  }
  
  .card {
    background-color: var(--background-color);
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1),
                0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2),
                0 0 0 1px var(--card-border-color);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }
  
  .card .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;
  }
  
  .card .icon::after {
    content: '';
    position: absolute;
    inset: 4.5px;
    border-radius: 50%;
    background-color: var(--card-icon-background-color);
    border: 1px solid var(--card-icon-border-color);
    backdrop-filter: blur(2px);
    transition: background-color 0.25s, border-color 0.25s;
  }
  
  .card .icon svg {
    position: relative;
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;
    transform: translateZ(0);
    color: var(--card-icon-color);
    transition: color 0.25s;
  }
  
  .card h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--card-label-color);
  }
  
  .card p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  }
  
  .card .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .card .shine:before {
    content: '';
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(35px);
    opacity: var(--card-shine-opacity);
    transform: translateX(-50%);
    background-image: var(--card-shine-gradient);
  }
  
  .card .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  }
  
  .card .background .lines {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .card .background .lines .line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--card-line-color);
    animation: animLines 8s infinite linear;
  }
  
  @keyframes animLines {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .card .background .tiles {
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  .card .background .tiles .tile {
    position: absolute;
    background-color: var(--card-tile-color);
    width: 20px;
    height: 20px;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
  }
  
  .card .background .tiles .tile.tile-4,
  .card .background .tiles .tile.tile-6,
  .card .background .tiles .tile.tile-10 {
    animation-delay: -2s;
  }
  
  .card .background .tiles .tile.tile-3,
  .card .background .tiles .tile.tile-5,
  .card .background .tiles .tile.tile-8 {
    animation-delay: -4s;
  }
  
  .card .background .tiles .tile.tile-2,
  .card .background .tiles .tile.tile-9 {
    animation-delay: -6s;
  }
  
  .card .background .tiles .tile.tile-1 {
    animation-delay: -8s;
  }
  
  .card:hover .background .tiles {
    opacity: 1;
  }
  
  .card:hover .shine {
    opacity: 1;
  }
  
  .card:hover::before {
    box-shadow: 0px var(--card-hover-box-shadow-1-y) var(--card-hover-box-shadow-1-blur) var(--card-hover-box-shadow-1),
                0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2),
                0 0 0 1px var(--card-hover-border-color);
  }
  
  .card:hover .icon svg {
    color: var(--card-hover-icon-color);
  }
  
  .card:hover .icon::after {
    background-color: var(--card-hover-icon-background-color);
    border-color: var(--card-hover-icon-border-color);
  }
  
  @keyframes animTranslate {
    0% {
      transform: translate(var(--fromX), var(--fromY));
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      transform: translate(var(--toX), var(--toY));
      opacity: 0;
    }
  }
  