.for_center_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: relative;
    height: 100dvh;
}

.form-container p {
  color: green;
  text-align: center;
  font-weight: 500;
}


.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: sans-serif;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .form-container button:active {
    transform: scale(0.95);
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input,
  .form-container .form-group textarea {
    padding: 10px 17px;
    width: 90%;
    border-radius: 6px;
    font-family: sans-serif;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder,
  .form-container .form-group textarea::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus,
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit, 'sans-serif';
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }



  /*-----------Success Notification--------------*/
  .form-submit-btn,
  .form-reset-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-submit-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .form-reset-btn {
    background-color: #ccc;
    color: #333;
  }
  
  .form-submit-btn:hover{
    background-color: #0056b3;
  }
  
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  .notifications {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #84D65A;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .success__icon path {
    fill: #393A37;
  }
  
  .success__title {
    font-weight: 500;
    font-size: 14px;
    color: #393A37;
  }
  
  .success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .success__close path {
    fill: #393A37;
  }
  
  .error {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .error__message {
    flex-grow: 1;
    color: #a94442;
    font-weight: bold;
  }
  
  .error__close {
    cursor: pointer;
    margin-left: 10px;
    color: #a94442;
    font-weight: bold;
  }
  
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    font-size: 16px;
  }

  .for_checkbox{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    height: 20px;
  }

  .for_checkbox .checkbox{
    width: 15px !important;
  }

  .for_checkbox label{
    margin: 0 !important;
  }

  .form-group label[for="consent"] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .form-reset-btn {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form-reset-btn:hover {
    background-color: #bbb;
  }
  

  @media (max-width: 768px) {
    .sectionbanner {
      display: none;
    }

    .for_contact{
      height: 100vh !important;
    }

    .for_center_contact{
      margin-top: 0px;
      padding: 10px !important;
    }

    .form-container{
      max-height: 700px;
      height: 100%;
      overflow-x: scroll;
    }
  }